<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main">
    <test name="Main">

        <classes>

            <class name="LoginTest"/>
            <class name="RecommendationsTest"/>
            <class name="MyProfileTest"/>

        </classes>
    </test>

</suite>